body {
padding-bottom: 40px;
background-image: url("bg.png");
}


.bold{
    font-weight:bold;
}

.alt{
height: 2px;
margin: 10px 0;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
border: 0;
}

.marg20-btm{
    margin-bottom:20px !important;
}

.smalls{
    font-size:11px;
    font-family:arial;
    color:#777777;
}

.content-bg{
    background:url(body-bg.png) repeat !important;
}

.navbar-fixed-top .nav .gravatar a,.navbar-fixed-top .nav .gravatar a:hover {
background: url(avatar.png) left 5px no-repeat;
background-size:100%;
height: 15px;
width: 10px;
margin-right: -2px;
}

/* TABS MENU */

.menu-head{
    background:#f8f8f8;
    height:35px;
    padding-top:30px;
    border-bottom:1px solid #cacaca;
    margin-bottom:20px;
}

/* SIDEBAR NAV */

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  padding-top:10px;
  padding-bottom: 10px;
  color: #333333;
  font-weight:bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #333333;
  background-color: #313131;
  background-image: -ms-linear-gradient(top, #444444, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#111111));
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(top, #444444, #111111);
  background-repeat: repeat-x;
  color:#ffffff;
}

.nav-tabs.nav-stacked > .active > a, .nav-tabs.nav-stacked > .active > a:hover {
  z-index: 2;
  border-color: #333333;
  background-color: #313131;
  background-image: -ms-linear-gradient(top, #444444, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#111111));
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(top, #444444, #111111);
  background-repeat: repeat-x;
  color:#ffffff;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}


/* BOX */
.box{
    margin-bottom:20px !important;
}

.box-header{
    height:25px;
    color: #333333;
    padding:8px 10px 5px ;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  border-width: 1px !important;
  border-style: solid !important;
  -webkit-border-radius: 4px 4px 0 0 !important;
     -moz-border-radius: 4px 4px 0 0 !important;
          border-radius: 4px 4px 0 0 !important;
}

.box-header h3{
    font-size:14px;
    color:#555;
}

.box-content{
    border:1px solid #ccc;
    /*background:url(body-bg.png);*/
    background: #fff;
    min-height:10px;
}

.content-inner{
    margin: 10px;
    width:auto;
    height:auto;
}

/* STATS */
.well{
    background:url(bg.png);
}

div [class*=stats-]{
    font-weight:bold;
}

.stats-text{
    font-size: 16px;
}

.stats-user:hover{
    background:#F89406;
    color:#fff;
    -webkit-box-shadow: inset 0 0 1px 1px #AD6704;
    -moz-box-shadow: inset 0 0 1px 1px #AD6704;
    box-shadow: inset 0 0 1px 1px #AD6704;
}

.stats-comment:hover{
    background:#BD362F;
    color:#fff;
    -webkit-box-shadow: inset 0 0 1px 1px #802420;
    -moz-box-shadow: inset 0 0 1px 1px #802420;
    box-shadow: inset 0 0 1px 1px #802420;
}

.stats-article:hover{
    background: #51A351;
    color:#fff;
    -webkit-box-shadow: inset 0 0 1px 1px #387038;
    -moz-box-shadow: inset 0 0 1px 1px #387038;
    box-shadow: inset 0 0 1px 1px #387038;
}

.stats-visitor:hover{
    background:#2F96B4/*#05C*/;
    color:#fff;
    -webkit-box-shadow: inset 0 0 1px 1px #1F6377;
    -moz-box-shadow: inset 0 0 1px 1px #1F6377;
    box-shadow: inset 0 0 1px 1px #1F6377;
}

.stats-chart{
    width:99%;
    height:360px !important;
}

/* NOTIF */

.thumbnails li{
    background:url(../img/bg.png);
}

.notif-yellow{
    color:#F89406;
}

.notif-red{
    color:#BD362F;
}

.notif-green{
    color:#51A351;
}

.notif-blue{
    color:#2F96B4;
}

.notif-number{
    font-size: 60px;
    font-weight: normal;
}

/* COMMENT */

.content-inner ul.comment{
    list-style-type:none;
    margin-left: 0;
}

.content-inner ul.comment li{
    border-bottom: 1px solid #ddd;
    margin-left:0;
    padding-top:10px;
}

.comment-avatar{
    margin-left:0;
}

.comment-avatar img{
    width:35px;
    height:35px;
    float:left;
    margin-right:10px;
}

.comment-name{
    text-align:left;
    font-size:15px;
    font-weight:bold;
}

.comment-name a:hover{
    color:#08C;
}

.comment-date{
    color:#777;
    font-size:11px;
    font-weight: lighter;
}

.comment-date p{
    text-align:left;
}

.comment-content{
    text-align:justify;
    width:auto;
    margin-right:0;
    margin-left:0;
    color: #222;
    font-size:14px;
    line-height:15px;
    font-family: segoeui;
}


/* PROFILE */
.account-settings{
    width:135px;
    border: 1px solid #CCC;
    border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    height:140px;
    margin: auto auto;
    padding:5px;
}

.account-settings img{
    width:100%;
    height:100%;
}

/* SIGN IN */

.account-container {
	width: 389px; 
	display: block;
	margin: 60px auto 65px auto;	
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    -o-border-radius: 2px;
	box-shadow:  0px 0px 2px #dadada;
    -o-box-shadow:  0px 0px 2px #dadada;
    -webkit-box-shadow:  0px 0px 2px #dadada;
    -moz-box-shadow:  0px 0px 2px #dadada;
}

.form-content {
	padding: 16px 28px 23px;
} 

.form-content hr.alt{
    margin-bottom: 20px;
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 15px;
	background-color: #fdfdfd;
	width: 290px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
    -moz-box-shadow: inset 2px 2px 4px #f1f1f1;
    -o-box-shadow: inset 2px 2px 4px #f1f1f1;
    -webkit-box-shadow: inset 2px 2px 4px #f1f1f1;
}

.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 40px !important;
}

span.login-checkbox {
	float: left;
	margin-top: 31px;
}

span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
	height: 15px; 
	display: block;
    padding: 0 0 0 22px;
    margin: 0;
    font-size: 12px;
    line-height: 1.2em;
    background: url(../img/check.png) no-repeat 0 0;
    cursor: pointer;
}

span.login-checkbox > input[type='checkbox']:checked + label {	
	background-position: 0 -15px;
}

.account-container h1 {
	margin-bottom: .4em;
	color: #333;
    text-align:center;
}


.btn-signin {
    display: inline-block; 
    float: right; 
    margin-top: 18px; 
    margin-right:10px;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -6px;
	width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	position: relative;
	line-height: 1.3em;
}



@media (max-width: 480px) {
	
	.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input {
		width: 160px;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	
}

/* 404 */

body.black{
    background: #222;
}

/* 404 */
.black404{
    text-align:center;
}

.black404 h1{
    color:#111;
    font-size:100px;
    line-height:110px;
    text-shadow: 1px 1px 1px #3f3f3f;
}

.black404 h2{
    color: #111;
    font-size: 70px;
    line-height:110px;
    text-shadow: 1px 1px 2px #3f3f3f;
}

.black404 h3{
    color: #BD362F;
    font-size: 25px;
    line-height:30px;
    text-shadow: 1px 1px 2px #000;
}

.black404 h4{
    color: #fff;
    font-weight:normal;
    font-size:15px;
    text-shadow: 1px 1px 1px #000;
    margin-top:10px;
    margin-bottom:15px;
}

.black404 h4 a{
    text-decoration:none;
    transition:color 0.5s, text-decoration 1s;
    -moz-transition: color 0.5s, text-decoration 1s;
    -webkit-transition: color 0.5s, text-decoration 1s;
    -o-transition: color 0.5s, text-decoration 1s;
}

.black404 h4 a:hover{
    text-decoration:underline;
}

.hero {
background: black;
width: 100%;
height: 340px;
position: relative;
overflow: hidden;
}

.featured-client,.team-member{width:130px;float:left;margin-right:13px;text-align:center;font-size:11px;line-height:15px;}
.featured-client.last,.team-member.last{margin-right:0px;}
.fc-image,.member-image{position:relative;height:130px;width:130px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.2);margin-bottom:5px;}
.fc-image img,.member-image img{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;position:absolute;left:0;z-index:-1;}
.fc-caption,.member-name{position:absolute;height:23px;background:rgba(0, 0, 0, 0.7);bottom:0;left:0;width:100%;color:#FFF;text-align:center;padding-top:3px;font-size:11px;font-weight:bold;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottomleft-radius:4px;border-bottomright-radius:4px;}
