%header.navbar.blue.blue2.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand.pull-left
        %i.icon-white.icon-comments
        Whatever Site
      %ul.nav.pull-left
        %li.active
          %a{:href => "#"}
            %i.icon-white.icon-home
            Dashboard
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-white.icon-star
            Features
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Navbar Colours
            %li
              %a{:href => "#"} Smooth Animations
            %li
              %a{:href => "#"} .sharp Class
            %li
              %a{:href => "#"} Canvas Charts
            %li
              %a{:href => "#"} Tasks Mini Module
            %li
              %a{:href => "#"} Messages
            %li
              %a{:href => "#"} Precoded Functions

      %ul.nav.pull-right
        %li
          %a{"data-original-title" => "8 Projects Remaining", :href => "#", :rel => "tooltip"}
            %i.icon-heart
            %span.label.label-info 2 Interest
        %li
          %a{"data-original-title" => "2 Tasks are Urgent", :href => "#", :rel => "tooltip"}
            %i.icon-envelope
            %span.label.label-important 2 Messages
        %li
          %a{"data-original-title" => "User Page", :href => "#", :rel => "tooltip"}
            %i.icon-white.icon-user
            nanu
        %li
          %a{"data-original-title" => "Settings", :href => "#", :rel => "tooltip"}
            %i.icon-white.icon-wrench
        %li
          - if signed_in?
            %li= link_to "Sign out", signout_path, method: :delete
          - else
            %li= link_to "Sign in", signin_path
