.span3
  .row-fluid
    .span6
      = image_tag"160x120.gif",  :class => "span12 thumbnail"
    .span6
      %h6 username
      = succeed "|" do
        %a{:href => "#"} Profile
      %a{:href => "../index.html"} Logout
  %br
  %ul
    %li{"data-target" => "dashboard"}
      %i.icon-home
      Dashboard
    %li{"data-target" => "projects"}
      %i.icon-heart
      Interests
      %span.badge.badge-important 4
    %li{"data-target" => "messages"}
      %i.icon-envelope
      Messages
      %span.badge.badge-info 3
    %li{"data-target" => "messages"}
      %i.icon-envelope
      Favorites
      %span.badge.badge-dangerous 3
    %li{"data-target" => "settings"}
      %i.icon-wrench
      Settings
    %li.active{"data-target" => "profile"}
      %i.icon-user
      Profile
    %hr
      %li{"data-target" => "help"}
        %i.icon-question-sign
        Help